.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.loginBox {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.loginHeading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 28px;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loginButton {
    margin-top: 1rem;
}

.googleButton {
    margin-top: 1rem;
}

.googleButton img{
    margin-right: 2rem;
}

.separator {
    text-align: center;
    margin: 1rem 0;
    font-size: 14px;
    color: #888;
}

.linktoregister{
    text-align: center;
    margin-top: 1rem;
}
